@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LORA-REGULAR";
  src: url("../public/fonts/lora/Lora-Regular.ttf");
}

@font-face {
  font-family: "MONTSERRAT-REGULAR";
  src: url("../public/fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "MINION-PRO-REGULAR";
  src: url("../public/fonts/minion-pro/MinionPro-Regular.otf");
}

@font-face {
  font-family: "NEWSREADER-LIGHT";
  src: url("../public/fonts/newsreader/Newsreader_14pt-Light.ttf");
}


html {
  font-family: "NEWSREADER-LIGHT";
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to right, var(--clr-primary-300), var(--clr-primary-400));
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: 0.3s ease;
    transition-property: background-size, color, background-color, border-color;
  }
  @media (prefers-reduced-motion: reduce) {
    .animated-underline {
      transition: none;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible,
  .project-card:hover .animated-underline,
  .project-card:focus-visible .animated-underline {
    background-size: 0 2px, 100% 2px;
  }

  /* #region  /**=========== Animate Shadow =========== */
  .animate-shadow {
    @apply after:absolute after:inset-0 after:z-[-1] after:opacity-0 after:transition-opacity hover:after:opacity-100;
    @apply after:shadow-md dark:after:shadow-none;
  }
  /* #endregion  /**======== Animate Shadow =========== */

  /* #region  /**=========== Fade In =========== */
  [data-fade] {
    @apply translate-y-10 opacity-0 transition duration-300 ease-out motion-reduce:translate-y-0 motion-reduce:opacity-100;
  }
  .fade-in-start [data-fade] {
    @apply translate-y-0 opacity-100;
  }
  .fade-in-start [data-fade='1'] {
    transition-delay: 100ms;
  }
  .fade-in-start [data-fade='2'] {
    transition-delay: 200ms;
  }
  .fade-in-start [data-fade='3'] {
    transition-delay: 300ms;
  }
  .fade-in-start [data-fade='4'] {
    transition-delay: 400ms;
  }
  .fade-in-start [data-fade='5'] {
    transition-delay: 500ms;
  }
  .fade-in-start [data-fade='6'] {
    transition-delay: 600ms;
  }
  .fade-in-start [data-fade='7'] {
    transition-delay: 700ms;
  }
  .fade-in-start [data-fade='8'] {
    transition-delay: 800ms;
  }
  /* #endregion  /**======== Fade In =========== */
}



/* @layer components {
  .layout {
    @apply mx-auto w-11/12 max-w-6xl;
  }

  .card-layout {
    @apply grid grid-cols-[repeat(auto-fill,minmax(320px,1fr))] gap-4;
  }

  .custom-button {
    @apply px-4 py-2 font-bold;
  }

  .main-border {
    @apply border border-gray-300 dark:border-gray-600;
  }
  

  .smooth-tab {
    @apply rounded-md transition-shadow focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-accent-blue;
  }

 

  .gradient-title {
    @apply bg-gradient-to-r from-blue-400 to-green-300 bg-clip-text text-transparent;
  }

  .custom-underline {
    @apply underline decoration-transparent outline-none transition [text-decoration-thickness:1px] 
           hover:decoration-inherit focus-visible:decoration-inherit;
  }

  .animated-underline {
    background-size: 0 2px;
    background-position: 0 100%;

    @apply bg-gradient-to-r from-blue-400 to-green-300 bg-no-repeat pb-0.5 no-underline 
           outline-none transition-all duration-300;

    &.with-dots {
      @apply border-b border-dotted border-black dark:border-white;
    }

    &:hover,
    &:focus-visible,
    &:has(+ div:hover),
    .project-card:hover &,
    .project-card:focus-visible & {
      background-size: 100% 2px;

      &.with-dots {
        @apply border-transparent;
      }
    }
  } 
}*/




/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
